<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>

{% schema %}
  {
    "name": "Home Hero",
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Background image"
            }
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Image"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Titles"
            }
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": {
                "en": "Sub Title"
            }
		},
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Main Title"
            }
		},
        {
            "type": "richtext",
            "id": "content",
            "label": {
                "en": "Blurb"
            }
		},
        {
            "type": "header",
            "content": {
                "en": "Primary Button"
            }
        },
        {
            "type": "text",
            "id": "primarybutton_label",
            "label": {
                "en": "Label"
            }
		},
        {
            "type": "url",
            "id": "primarybutton_link",
            "label": {
                "en": "Link"
            }
		},
        {
            "type": "header",
            "content": {
                "en": "Secondary Button"
            }
        },
        {
            "type": "text",
            "id": "secondarybutton_label",
            "label": {
                "en": "Label"
            }
		},
        {
            "type": "url",
            "id": "secondarybutton_link",
            "label": {
                "en": "Link"
            }
		}
    ],
    "presets": [
      {
        "name": "Home Hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}